$abundant = #f8f8f8
$secondaryColor = #2e3131
$highlightColor = #4841c0
$attenuatorColor = #e4e4e4
$space = 15px
$topPadding = 50px

*
  margin: 0
  padding: 0

body
  font-family: 'Open sans', sans-serif
  color: $secondaryColor

@font-face
  font-family: 'Anodina'
  src: url('./assets/Anodina-Bold.otf')


.App
  background-color: $abundant
  height: auto
  min-height: 100vh
  width: 100vw
  display: flex
  box-sizing: border-box
  font-size: 16px
  flex-wrap: wrap

.top-bar
  position: fixed
  height: 50px
  display: flex
  align-items: center
  top: 0
  left: 0px
  right: 0px
  padding-right: 20px
  padding-left: 20px
  box-sizing: border-box
  justify-content: space-between
  background-color: $abundant
  z-index: 100

  &-menu
    padding-top: ($space - 12)
    >i
      font-size: 1.4em

  &-title
    font-size: 1.3em
    font-family: 'Anodina'
    &:before
      content: '<'
      font-size: 1.2em
      position: relative
      top: -1px

.scroll
  position: fixed
  right: 0
  top: 83vh
  padding: 0.1px
  z-index: 2

  &-current
  &-next
    transform: rotate(90deg)

  &-current
  &-line
  &-next
    display: none

  &-line
    height: 45vh
    border-left: 1px solid #000000
    padding: 0.1px
    margin-top: 20px
    margin-bottom: 20px
    margin-left: 21px

  >i
    font-size: 2em
    margin-right: 14px
    font-style: normal
    color: $highlightColor

.hero
  &-text
    margin-top: 0.65em
    width: 94%

.skill
.contact
  &-item
    overflow: hidden
    justify-content: space-between!important
    >span
      position: relative
      top: 4px
    >button
      margin-top: 4px
      height: 40px
      min-width: 192px
      padding: ($space - 10)
      background-color: $abundant
      border: 2px solid $highlightColor
      font-weight: bold
      font-size: 1.1rem
      line-height: 1.1rem

  &-item-container
    display: flex
    align-items: center
    >i
      font-size: 2.8em
      width: 50px
      margin-right: ($space - 5px)
      color: $secondaryColor

  &-item-info
    font-size: 1.1em
    color: $secondaryColor
    position: relative
    top: -3px

    >div
      &:first-child
        margin-bottom: ($space - 12)

@import './general-classes'
