$phone-upper-boundary: 600px
$tablet-portrait-upper-boundary: 900px
$tablet-landscape-upper-boundary: 1200px
$desktop-upper-boundary: 1800px

device-size($device) =
  if $device == phone-only
    @media screen and (max-width: $phone-upper-boundary - 1)
      //
  else if $device == tablet-portrait-up
    @media screen and (min-width: $phone-upper-boundary)
      //
  else if $device == tablet-landscape-up
    @media screen and (min-width: $tablet-portrait-upper-boundary)
      //
  else if $device == desktop-up
    @media screen and (min-width: $tablet-landscape-upper-boundary)
      //
  else if $device == big-desktop-up
    @media screen and (min-width: $desktop-upper-boundary)
      //